<header class="site-header">

  <div class="wrap">

    <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>

    <nav class="site-nav" x-data="{open:false}">

      <div x-show="window.innerWidth <= 768">
        <button
          class="hamburger"
          aria-label="open menu"
          aria-controls="menu"
          x-show="!open"
          x-transition
          @click="open = !open"
        >
          <svg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
            <path d="M3.63636 4.66666H40L36.3636 11.3333H0L3.63636 4.66666Z"></path>
            <path d="M3.63636 16.6667H40L36.3636 23.3333H0L3.63636 16.6667Z"></path>
            <path d="M3.63636 28.6667H40L36.3636 35.3333H0L3.63636 28.6667Z"></path>
          </svg>
        </button>



        <div
          id="menu"
          class="slidein"
          :class="!open ? 'out' : ''"
          role="dialog"
          aria-label="menu"
          aria-modal="true"
          x-show="open"
          x-transition:enter.opacity.duration.300ms
          x-transition:leave.opacity.duration.150ms
          x-trap.inert.noscroll="open"
          @click="open = false"
          @keyup.window.escape="open = false"
        >
          <div
            class="slidein__content"
            @click.outside="open = false"
            @click.stop
          >
            <span
              class="slidein__close"
              aria-label="Close menu"
              role="button"
              tabindex="0"
              @click="open = false"
              @keydown.enter="open = false"
            >×</span>

            <ul>
              {% for page in site.pages %}
              {% if page.menu %}
              <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
              {% endif %}
              {% endfor %}
            </ul>

          </div>
        </div>






      </div>

      <div id="menu" class="trigger" x-transition x-show="window.innerWidth > 768 ? true : false">
        {% for page in site.pages %}
        {% if page.menu %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
        {% endfor %}
      </div>

    </nav>

  </div>

</header>

