<header class="site-header">

  <div class="wrap">

    <a class="site-title" href="{{ site.baseurl }}/">
      <h1 class="title">{{ site.title }}</h1>
      <span class="subtitle">{{ site.subtitle}}</span>
    </a>

    <nav class="site-nav" x-data="{open:false}">

      <template x-if="window.innerWidth <= 768">
        <button
          class="hamburger"
          aria-label="open menu"
          aria-controls="menu"
          x-show="!open"
          x-transition.opacity.300ms
          @click="open = !open"
        >
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
            <title>menu</title>
            <path d="M17.5 6h-15c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h15c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z"></path>
            <path d="M17.5 11h-15c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h15c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z"></path>
            <path d="M17.5 16h-15c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h15c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z"></path>
          </svg>

        </button>



        <div
          x-cloak
          id="menu"
          class="slidein"
          role="dialog"
          aria-label="menu"
          aria-modal="true"
          x-show="open"
          x-transition.opacity.duration.400ms
          x-trap.inert.noscroll="open"
          @click="open = false"
          @keyup.window.escape="open = false"
        >
          <div
            class="slidein__content"
            @click.outside="open = false"
            @click.stop
          >
            <span
              class="slidein__close"
              aria-label="Close menu"
              role="button"
              tabindex="0"
              @click="open = false"
              @keydown.enter="open = false"
            >×</span>

            <div class="panel">
              <ul>
                {% for page in site.pages %}
                {% if page.menu %}
                <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                {% endif %}
                {% endfor %}
                </ul>
            </div>

          </div>
        </div>






      </template>

      <template x-if="window.innerWidth > 768">
      <div id="menu" class="trigger" x-transition>
        {% for page in site.pages %}
        {% if page.menu %}
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
        {% endfor %}
      </div>
      </template>

    </nav>

  </div>

</header>

