
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local('Roboto 300'),
  local('Overpass-300'),
  url('../fonts/roboto-v20-latin_latin-ext-300.woff2') format('woff2'),
  url('../fonts/roboto-v20-latin_latin-ext-300.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local('Roboto Bold'),
  local('Roboto-Bold'),
  url('#{variables.$fonts_dir}overpass-v12-latin/overpass-v12-latin-700.woff2') format('woff2'),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('#{variables.$fonts_dir}overpass-v12-latin/overpass-v12-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fdfdfd;
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: bold; }

a         { color: #af6000; text-decoration: underline; word-wrap: break-word;}
a:hover   { color: #000; text-decoration: underline;word-wrap: break-word;}
a:visited { color: #af6000;word-wrap: break-word;}

/* Utility */
.wrap {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
}


/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  border-top: 5px solid #af6000;
  border-bottom: 1px solid #e8e8e8;
  min-height: 70px;
  background-color: white;
  display: flex;
}

.site-header a { text-decoration: none; }
.site-header a:hover   { text-decoration: underline; }

.site-header .wrap {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.site-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a.site-title,
a.site-title:hover,
a.site-title:visited {
  color: #333;
  text-decoration: none;
}

.site-nav .page-link {
  margin-left: 20px;
  color: #727272;
  letter-spacing: -.5px;
}

.hamburger, .close {
  background: transparent;
  border: none;
  padding: 10px;
  position: absolute;
  top: 8px;
  right: 0px;
  width: 50px;
  height: 50px;
  z-index: 2;
  cursor: pointer;
}

.hamburger svg, .close svg {
  width: 30px;
  height: 30px;
  fill: black;
  stroke: black;
  stroke-width: 0;
}



.slidein__content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slidein__content a.page-link {
  padding: 10px;
  color: black;
  text-align: left;
}
.slidein {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: auto;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.slidein__content {
  cursor: auto;
  width: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.slidein__content>.panel {
  height: calc(100vh - 50px);
  padding: 50px 0 0 0;
  background-color: white;
}

.slidein__content.transition-in {
  transition: all 0.3s ease-in;
}

.slidein__content.transition-out {
  transition: all 0.3s ease-out;
}

.slidein__content.transformx50 {
  transform: translateX(50%);
}

.slidein__content.transformx0 {
  transform: translateX(0);
}

.slidein__content.opacity0 {
  opacity: 0;
}

.slidein__content.opacity100 {
  opacity: 1;
}

.slidein__close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 5px;
  height: 30px;
  width: 30px;
  color: black;
  font-size: 2rem;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.slidein__close:focus,
.slidein__close:focus-visible {
  outline: none;
}

.card-panel {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.card-panel .card {
  width: calc(50% - 55px);
  background-color: white;
  border: 1px solid #cfd1d3;
  border-radius: 5px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .16), 0 0 0 1px rgba(0, 0, 0, .06);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 14px;
}

.card-panel a.card {
  color: black;
  text-decoration: none;
}

.card-panel .card h2 {
  margin: 0;
  font-size: 20px;
}

.card-panel .card img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}

/* Site footer */

.site-footer {
  border-top: 1px solid #af6000;
  padding: 30px 0;
}

.site-footer .wrap {
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}

.footer-heading {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -.5px;
  margin-bottom: 15px;
}

.site-footer ul { list-style: none; }

.site-footer li,
.site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  background-color: #fff;
}


/* Home styles */
/* ----------------------------------------------------------*/

.home h1 { margin-bottom: 25px; }

.posts { list-style-type: none; }

.posts li { margin-bottom: 30px; }

.posts .post-link {
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 1;
}

.posts .post-date {
  display: block;
  font-size: 15px;
  color: #818181;
}


/* Post styles */
/* ----------------------------------------------------------*/

.post pre,
.post code {
  border: 1px solid #d5d5e9;
  background-color: #eef;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 15px;
  white-space: break-spaces;
}

.post code { padding: 1px 5px; }

.post pre code { border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }


.post-content li::marker {
  color: #af6000;
}

.post-content p {
  padding-bottom: 10px;
}




.post-content > * { margin: 10px 0; }


.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin: 40px 0 20px 0;
}

.post-content h1 + h2 {
  margin-top: 0;
}

.post-content h2 + h3 {
  margin-top: 0;
}

.post-content h3 + h4 {
  margin-top: 0;
}

.post-content h1 {
  margin-top: 0;
  font-weight: bold;
  font-size: 40px;
}

.post-content h2 {
  font-size: 26px;
  font-weight: bold;
}

.post-content h3 {
  font-size: 20px;
  font-weight: bold;
}

.post-content h4 {
  font-size: 16px;
  font-weight: bold;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  font-style: italic;
  margin: 30px 0;
}

.post-content figure {
  max-width: 100% !important;
}

.post-content img {
  height: 100%;
  width: 100%;
}

.post-content ul,
.post-content ol { padding-left: 16px; }

.post-header.post-content h1.title {
  margin: 0;
}

.post-header.post-content .meta {
  margin: 0;
  font-size: 16px;
}

.post-header.post-content .subtitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* media queries */
/* ----------------------------------------------------------*/

@media screen and (max-width: 767px) {

  .wrap { padding: 0 12px; }

  .card {
    width: 100%;
  }

  .post-content h1 { font-size: 32px; }
  .post-content h2 { font-size: 22px; }
  .post-content h3 { font-size: 18px; }
  .post-content h4 { font-size: 16px; }

}


@media print {
  body {
    font-size: 80%;
  }
  a         { text-decoration: none; }
  h1, h2, h3, h4, h5, h6 { font-size: 50%;}
  .site-header, .site-footer {display: none;}
  .page-content {
    border-top: 5px solid #FFBB00;
  }

  .post-content { margin: 0 0 10px; }
  .post-content > * { margin: 10px 0; }
  .post-content h1,
  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    margin: 20px 0 10px 0;
  }
  .post-content h1 {
    margin: 10px 0 0 0;
    font-weight: 300;
  }
  .post-content li:before {
    font-size: 4px;
    position: relative;
    bottom: 3px;
  }​



}


